* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #ffc0d3;
}

.footer {
    background-color: #ffc0d3;
}

.garis {
    border: 1px solid #FFC0D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bi {
    color: #ffc0d3;
}

.footer .bi {
    color: white;
}

p {
    margin: 0;
}

.searchbar {
    position: relative;
    width: 150px;
    height: 100%;
}

.searchbar input {
    text-indent: 42px;
}

.mobile .searchbar input {
    text-indent: 24px;
}

.searchbar .bi-search {
    position: absolute;
    left: 12px;
}

.btn{
    color :  black;
    /* border-radius : 50px; */
    background : #FFC0D3;
    font-weight: bold;
}

.produk {
    border-radius: 24px;
}

.menu {
    background-color: #ffc0d3;
}

.menu-item a {
    color: white;
}

.menu-item i {
    color: white;
}

.menu-item.active a {
    color: #E36A9D;
}

.menu-item.active i {
    color: #E36A9D;
}

.menu-item p {
    font-size: 14px;
}